@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Genres";
}

<style>
    .genre-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .genre-card {
        background: #ddd;
        line-height: 300px;
        text-align: center;
        font-size: 1.75rem;
        color: black;
    }

    .genre-card:hover {
        color: black;
        text-decoration: none;
    }
</style>

<h1>Genres</h1>

<div class="genre-container">
    @foreach (var genre in Model.Take(5))
    {
        <a class="genre-card" href="/Home/ByGenre?genreId=@genre.Id&genreName=@genre.Name">@genre.Name</a>
    }
</div>